<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Welcome to my site, <%= @user.name %></h1>
<p>
  You have successfully signed up to Social network .<br/>
</p>
<span>
  To login to the site, just follow this link:
  <%=  url_for(:action=>'activate', :only_path=>false,:controller=>'users',:id=>@id)%>

</span>
<p>Thanks for joining and have a great day!</p>
</body>
</html>