<% unless current_user?(@user) %>
    <div id="friendship_form">
      <% if current_user.friends?(@user) %>
          <%= render 'destroy_friendship' %>
      <% else %>
          <% if current_user.send_request?(@user) %>
            <p>You had send request to this user.</p>
          <% else %>    
            <%= render 'make_friends' %>
          <% end %>
      <% end %>
    </div>
<% end %>