<% get_profile_items(@user) %>
<% statistics(@from_users) %>
<% if @user.is_blocked? %>
    <div class="home_page round">
      Account is blocked!
    </div>
<% else %>
     <div id="chart"></div>    
    <div class="profile" summary="Profile information">
      <div class="main round">
        <% if (current_user.friends?(@user))||(current_user==@user) %>
            <h1 class="micropost">Write message</h1>
            <%= render 'shared/micropost_form' %>
        <% end %>
        <%= render 'shared/feed' %>
      </div>    
      <%= render 'shared/sidebar' %>  
    </div>
<% end %>
<script type="text/javascript">   
    $(".statistics").live('click', function (e) {
        displayStatistics('<%= @statistics_data.to_json %>');
    });
</script>






