<% if @user.is_blocked? %>
    <div class="home_page round">
      Account is blocked!
    </div>
<% else %>

    <div class="profile" summary="Profile information">
      <div class="main round">
        <% if (current_user.friends?(@user))||(current_user==@user) %>
            <h1 class="micropost">Write message</h1>
            <%= render 'shared/micropost_form' %>
        <% end %>
        <%= render 'shared/feed' %>
      </div>
      <%= render 'shared/sidebar' %>
    </div>


    <script type="text/javascript">
        $("table .micropost .delete_post a").live('click', function (e) {
            $(this).parent().parent().parent().remove();
        });
        $("div.status a").live('click', function (e) {
            var myStatus = $("div.status a").text();
            $("div.status a").hide();
            var myBox = $(document.createElement('textarea')).attr('style', 'width: 140px;word-wrap:break-word;height:40px;resize: none;margin-left:0;margin-bottom:0;').attr('value', myStatus);
            var myButton = $(document.createElement('button')).attr('style', 'width: 50px; text:"Save";');
            $("div.status").append(myBox);
            $("div.status").append(myButton);
            $(myButton).live('click', function (e) {
                var newStatus = $(myBox).val();
                $(myButton).remove();
                $(myBox).remove();
                $("div.status a").text(newStatus);
                $("div.status a").show();
                $.ajax({
                    url:"<%="http://localhost:3000/users/#{@user.id}"%>",
                    type:"put",
                    dataType:"json",
                    data:{status:newStatus}
                });
            });
        });

        $(".micropost .image").live('click', function (e) {
            var img=$(this).children("img").attr('alt');
            $(".facepalm_image img").each(function(e,i){
                if($(i).attr('alt')==img){
                    $(i).parent().attr('style','align:center;').dialog({
                        height: 'auto',
                        width: 'auto',
                        //resize: "initial",
                        modal:true
                    });
                }
            });
        });

    </script>


<% end %>





