<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <% if (current_user.friends?(@user))||(current_user==@user)%>
      <h1 class="micropost">Write message</h1>
      <%= render 'shared/micropost_form' %>
      <% end %>
      <% unless @user.microposts.empty? %>
          <%= render 'shared/feed' %>
      <% end %>
    </td>
    <td class="sidebar round">
      <%= render 'shared/user_info' %>
      <%= render 'friendship_form' if signed_in? %>
    </td>
  </tr>
</table>






