.container {
    padding-left: 70px;
    width: 710px;
}

body {
    background-image: url("674402190.jpg");
    background-attachment: fixed;
}

header {
    padding-top: 20px;
}

header img {
    padding: 1em;
    background: #fff;
}

div.users{
    background: #e6e6fa;
    padding: 1em;
    text-align: center;
}


div.users span.list{
    text-align: left;
}
section {

    align: center;
    margin-top: 1em;
    font-size: 120%;
    background: none;
}

section h1 {
    font-size: 200%;
}

a {
    color: #09c;
    text-decoration: none;
}

a:hover {
    color: #023;
    text-decoration: underline;
}

a:visited {
    color: #069;
}


nav {
    background-color: #e6e6fa;
    padding: 0 0.7em;
    white-space: normal;
    color: #4169e1;
}

header nav ul{

}
header nav {
    float: none;
    height: 50px;
    text-align: left;
}


nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0.5em 0;
    height: 40px
}
nav ul li.name{
   font-style: oblique;
   background: #4169e1;
   color: #ffffff;
   font-size: 20px;
   font-weight: bold;
    height: 25px;
    margin: 2px;
    padding-left: 10px;
    padding-right: 10px;

}
nav ul li a {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    width: 60px;
    height: 40px;
    color: #4169e1;
    font-size: 15px;
    font-weight: bold;
    padding: 0 5px;
}

nav ul li a:visited {
    color: #4169e1;
}


nav ul li a:hover {
    text-decoration: underline;

}


a.signup_button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    width: 190px;
    color: #fff;
    background: #3cb371;
    font-size: 100%;
    font-weight: bold;
    padding: 20px;
}
.round {
    -moz-border-radius:    10px;
    -webkit-border-radius: 10px;
    border-radius:         10px;
}
footer {
    text-align: center;
    margin-top: 10px;
    width: 710px;
    margin-left: auto;
    margin-right: auto;
}

footer nav {
    float: none;
}

div.profile {
    width: 100%;
    margin-bottom: 0;

}

div.main {
    width: 70%;
    padding: 1em;
    margin-left: 0;
    vertical-align: top;
    background: #fff;
    float: right;

}

div.for_friends{
    width: 70%;
    margin-left: 0;
    vertical-align: top;
    background: none;
    float: right;
}

div.friends {
    padding: 1em;
    margin-bottom: 1em;
    margin-right: 0;
    vertical-align: top;
    background: #ffffff ;
}




div.for_sidebar{
    width: 25%;
    float:left;
    background: none;
    padding-bottom: 1em;
    margin-bottom: 1em;
    margin-right: 0;
    vertical-align: top;
}

div.sidebar {

    padding: 1em;
    margin-bottom: 1em;
    margin-right: 0;
    vertical-align: top;
    background: #f0f8ff;
 }

.sidebar .property{
    font-style: italic;
    color: #4169e1;
}

div.home_page{
    background: #e6e6fa;
    padding: 40px;
    text-align: center;
    font-weight: bold;
    font-style: oblique;
}
div.home_page h1{
    color: #4169e1;
}
div.home_page h3{
    color: #4169e1;
}

.profile img.gravatar {
    border: 1px solid #999;
    margin-bottom: -15px;
}

.field_with_errors {
    margin-top: 10px;
    padding: 2px;
    background-color: #b22222;
    display: table;
}

.field_with_errors label {
    color: #fff;
}

#error_explanation {
    width: 400px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff;
}

#error_explanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
}

#error_explanation ul li {
    font-size: 12px;
    list-style: square;
}

.error, .alert, .notice, .success, .info {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}
.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.info {background:#d5edf8;color:#205791;border-color:#92cae4;}
.error a, .alert a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.info a {color:#205791;}

ul.users {
    margin-top: 1em;
}
ul.senders{
    margin-top: 1em;
}
.senders li{
    list-style: none
}
.users li {
    list-style: none;
}

h1.micropost {
    margin-bottom: 0.3em;
}

table.microposts {
    margin-top: 1em;
}

table.microposts tr {
    height: 70px;
}

table.microposts tr td.gravatar {
    border-top: 1px solid #ccc;
    vertical-align: top;
    width: 50px;
}

table.microposts tr td.micropost {
    border-top: 1px solid #ccc;
    vertical-align: top;
    padding-top: 10px;
}

table.microposts tr td.micropost span.timestamp {
    display: block;
    font-size: 85%;
    color: #666;
}

table.microposts tr td.micropost span.content {
    word-wrap: break-word;
}

.user_info img {
    padding-right: 0.1em;
    padding-top: 0;
}

div.user_info a {
    text-decoration: none;
}


span.user_name{
    font-size: 20px;
    color : #000000;
}

div.info_friends{
    padding-top: 1em;
    padding-bottom: 1em;
}

div.status{
    font-style: italic;
    padding-bottom: 1em;
}

div.user_info span.microposts {
    font-size: 80%;
}

form.new_micropost {
    margin-bottom: 2em;
}

form.new_micropost textarea {
    height: 4em;
    margin-bottom: 0;
}

form.new_micropost #micropost_photo{
    display:none;
}

form.edit_user textarea{
    height: 5em;
    width: 252px;
}

form.new_user textarea{
    height: 5em;
    width: 252px;
}

ul.sender li{
    display: inline-block;
}
ul.sender li.edit_request{
    float: left;
}
ul.sender li.new_relationship{
    float: left;
}
ul.sender a{
    float: left;
}
ul.sender img{
    float: left;
}
div.status{
    color: #4169e1;
    word-wrap: break-word;
}

.facepalm_image{
    display: none;
}


